version: '3.8'

services:
  db:
    image: postgres:15
    container_name: apartment-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: apartment_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./Backup/apartment_db.sql:/docker-entrypoint-initdb.d/apartment_db.sql
    networks:
      - app-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d apartment_db"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: apartment-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
          - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-net

  backend:
    build: ./Backend
    container_name: apartment-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/apartment_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 20s

    frontend:
      build: ./Frontend
      container_name: apartment-frontend
      environment:
        BACKEND_HOST: backend
      ports:
        - "3000:80"
      depends_on:
        - backend
      networks:
        - app-net


volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge
