version: '3.8'

services:
  db:
    image: postgres:15
    container_name: apartment-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: apartment_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-net

  backend:
    build: ./Backend
    container_name: apartment-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/apartment_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
    depends_on:
      - db
    networks:
      - app-net

  frontend:
    build: ./Frontend
    container_name: apartment-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge
