name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Frontend Docker image
      run: docker build -f Frontend/Dockerfile -t my-image-name:${{ github.run_id }} .
