name: Docker Image CI

on:
  push:
    branches: [ "main", "CI/CD" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # ===========================
  # Build Backend (Spring Boot)
  # ===========================
  build-backend:
    name: Build Backend (Spring Boot)
    runs-on: ubuntu-latest
    # Database service (PostgreSQL)
    services:
      db:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: apartment_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Cache Gradle dependencies
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Build Backend Docker image
      - name: Build backend Docker image
        run: docker build -f Backend/Dockerfile -t backend:${{ github.run_id }} Backend

      # Verify backend build output
      - name: Verify backend JAR file exists
        run: |
          docker run --rm --entrypoint "" backend:${{ github.run_id }} sh -c "ls /app | grep .jar" \
            || (echo 'No JAR file found' && exit 1)

      - name: Confirm image built successfully
        run: docker images backend:${{ github.run_id }}
      
      - name: Check Java runtime inside container
        run: docker run --rm --entrypoint java backend:${{ github.run_id }} -version


  # ===========================
  # Build Frontend (Vite / React)
  # ===========================
  build-frontend:
    name: Build Frontend (Vite)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Cache Node dependencies
      - name: Cache Node modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            Frontend/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('Frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      # Build Frontend Docker image
      - name: Build frontend Docker image
        run: docker build -f Frontend/Dockerfile -t frontend:${{ github.run_id }} Frontend

      # Verify frontend build output
      - name: Verify frontend dist directory
        run: |
          docker run --rm frontend:${{ github.run_id }} sh -c "ls /usr/share/nginx/html" || (echo ' Frontend dist not found' && exit 1)
      
      # Optional: Check Nginx version
      - name: Check Nginx runtime inside container
        run: docker run --rm frontend:${{ github.run_id }} nginx -v
